* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .cuerpo{
    background-color: blueviolet;
}
/* Estilos de Header*/
.Top{
    background-color: white;
}
.nav-link{
    color: black;
    transition: gray 0.5s;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 50px;
}
.nav-link:hover {
    color:gray;
  }

.ver-carrito{
    margin-left: 1100px;
    cursor: pointer;
}
/*Estilo del body*/
#shopping{
    padding-top: 15px;
    padding-left: 240px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.estiloGaleria{
    display: grid;
    grid-template-columns: 40%;
    justify-items: stretch;
}

button{
    background-color: black;
    font-family: 'Open Sans',sans-serif;
    color: white;
}

/*Estetica del Modal*/

#carrito-de-compras{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: white;
    background-color: #121212;
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
    cursor: pointer;
}
.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
}
.estilo-boton{
    cursor: pointer;
    color: red;
}
.contenido-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin:10%;
}
.contenido-total{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20%;
}
.eliminar-producto{
    cursor: pointer;
}

/*Estilo Footer*/
.bot{
    background-color: white;
    font-family:'Nunito',sans-serif;
}
.subti{
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Nunito',sans-serif;;
}
.registrado{
    text-align: center;
    font-size: xx-large;
}
.seguinos{
    margin-top: 6px;
    display: inline-block;
    font-size: xx-large;  
}
.telefono-wsp {
    margin-top: 6px;
    display: inline-block;
    font-size: xx-large;
  }
/*Ordenando Logos de marca*/
.seCciona{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 165px;
}
.marcasConlasquetrabajamos:hover{
    transform: scale(1.05);   
}