* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .cuerpo{
    background-color: blueviolet;
}
/* Estilos de Header*/
.Top{
    background-color: white;
    font-family: Montserrat=Nunito;
}
.nav-link{
    color: black;
    transition: gray 0.5s;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
.nav-link:hover {
    color:gray;
  }

/*Estilo del body*/
.card{
    display: flex;
    flex-direction: row;
}
button{
    background-color: black;
    font-family: 'Open Sans',sans-serif;
    color: white;
}

/*Estilo Footer*/
.bot{
    background-color: white;
    font-family:'Nunito',sans-serif;
}
/*Ordenando Logos de marca*/
.seCciona{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 165px;
}
.marcasConlasquetrabajamos:hover{
    transform: scale(1.05); 
}